.section3-container{
    height: 100vh;
    width: 100%;
    background: url(../assets/technology/background-technology-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sec3-content-wrapper{
    position: relative;
    top: 212px;
    padding-left: 166px;
    display: flex;
    justify-content: space-between;
    width: auto;
}

.sec3-content-wrapper h2{
    margin: 37px 0 14px;
    font-family: var(--secondary);
    font-weight: normal;
    font-size: var(--heading5);
    text-transform: uppercase;
    letter-spacing: 4.72px;
}

.sec3-content-wrapper h2 span{
    opacity: 0.25;
    font-weight: bold;
    font-family: var(--secondary);
}

.sec3-bullets-text{
    margin-top: 154px;
    display: flex;
    align-items: center;
}

.sec3-bullets-nav{
    margin-right: 80px;
}

.sec3-bullet1, .sec3-bullet2, .sec3-bullet3{
    font-size: 32px;
    color: var(--font);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.25);
    margin-bottom: 32px;
}
.sec3-bullet3{
    margin-bottom: 0;
}

.sec3-bullet1:hover, 
.sec3-bullet2:hover, 
.sec3-bullet3:hover{
    cursor: pointer;
    border: none;
    color: #000;
    background: var(--font);
}

.sec3-text-content h3{
    font-weight: normal;
    text-transform: uppercase;
    font-family: var(--secondary);
    font-size: var(--nav-text);
    opacity: 0.5;
    margin-bottom: 15px;
    letter-spacing: 2.7px;
}
.sec3-text-content h4{
    text-transform: uppercase;
    font-size: var(--heading3);
    font-weight: normal;
    margin-bottom: 27px;
}

.sec3-text-content p{
    width: 444px;
    font-size: var(--body-text);
    color: var(--sub-color);
    font-family: var(--secondary);
    line-height: 32px;
    letter-spacing: 1.7px;
}

.sec3-img{
    margin-top: 90px;
}

.sec3-img-responsive{
    display: none;
}

@media (max-width: 1170px){
    body{
        height: 1024px;
    }
    .section3-container{
        height: 100%;
        background: url(../assets/technology/background-technology-tablet.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .sec3-content-wrapper{
        margin: 0;
        padding: 0;

        display: flex;
        justify-content: center;
        
        top: 0;
    }
    .sec3-text-content{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;

    }
    .sec3-content-wrapper h2{
        margin: 0;
        position: relative;
        top: 136px;
        left: -90px;
        font-size: 20px;
    }
    .sec3-bullets-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 458px;

        text-align: center;
    }
    .sec3-bullets-nav{
        display: flex;
        width: 100%;
        height: 60px;
        margin: 0;
        margin-top: 50px;
        margin-bottom: 44px;

        justify-content: center;
    }
    .sec3-bullet1, .sec3-bullet2, .sec3-bullet3{
        width: 60px;
        height: 60px;
        margin-right: 16px;
    }
    .sec3-bullet3{
        margin-right: 0;
    }

    .sec3-img-responsive{
        display: block;
        margin-top: 40px;
    }

    .sec3-img{
        display: none;
    }

    .sec3-text-content h4{
        font-size: 40px;
    }
    .sec3-text-content p{
        font-size: 16px;
        margin-bottom: 97px;
    }
}
